.o-preloader__text--js-cycle {

  animation-name: text-cycle;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes text-cycle {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

