body{
  background-color: transparent;
  width: 50%;
  margin: auto;
}
.fixedwidth{
  min-width: 580px;
}
/*-----------------------------------------------SRM SLIDER--*/
#quote-slider{
    height: 195px;
    padding: 70px 0 0 18px;
    box-sizing: border-box;
    position: relative;
    max-width:100%;
    overflow: hidden;
}
.quote{
    position: relative;
}
.slider-quote {
    transition: 1.5s;
  
    position:absolute;
    top: 0;
    left: -200%;
    font-size: 26px;
    font-family: lato, open sans, sans-serif;
    line-height: 1.25;
    min-width: 100%;
}
.slider-quote span{
    font-size: 14px;
}
.controls {
    padding: 0 3px;
    position: absolute;
    top: 135px;
}
.quote-control{
    margin-top: 18px;
    
    height: 8px;
    width: 8px;
   
    border-radius: 50%;
    
    
}
.selected{
    background-color: transparent;
}
.in-focus{
    transition: 1.5s;
    left:0;
}